Source: aladin
Section: java
Priority: optional
Maintainer: Florian Rothmaier <gavo@ari.uni-heidelberg.de>
Build-Depends: debhelper (>= 7.0.50~), javahelper (>= 0.32) , ant
Build-Depends-Indep: default-jdk, default-jdk-doc, libxmlrpc2-java,
 libjsamp-java, librmilite-java, libstarplastic-java
Standards-Version: 3.9.1
Homepage: http://aladin.u-strasbg.fr/

Package: aladin
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Description: interactive software sky atlas
 Aladin is an interactive software sky atlas allowing the user to
 visualise digitised astronomical images, to superimpose entries from
 astronomical catalogues or databases, and to interactively access
 related data and information from the Simbad database, the VizieR
 service and other archives for all known sources in the field.
 .
 Created in 1999, Aladin has become a widely-used tool of the VO
 (Virtual Obervatory) framework capable of addressing challenges such
 as locating data of interest, accessing and exploring distributed
 datasets, and visualising multi-wavelength data. Compliance with
 existing or emerging VO standards, interconnection with other
 visualisation or analysis tools, and the ability to easily compare
 heterogeneous data are the key topics which allow Aladin to be a
 powerful data exploration and integration tool.
