#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java
export CLASSPATH=/usr/share/java/healpix.jar:/usr/share/java/cds.moc.jar:/usr/share/java/cds.savot.jar:/usr/share/java/jsamp.jar:/usr/share/java/kxml2.jar:/usr/share/java/commons-codec.jar:/usr/share/java/commons-httpclient.jar:/usr/share/java/xmlrpc-client.jar:/usr/share/java/xmlrpc-common.jar:/usr/share/java/xmlrpc-server.jar:/usr/share/java/ws-commons-util.jar

%:
	dh $@ --with javahelper 

override_dh_auto_build:
	ant main

get-orig-source:
	wget http://aladin.unistra.fr/java/download/AladinSrc.jar
	( mkdir AladinSrc ; \
	cd AladinSrc ; \
	unzip ../AladinSrc.jar ;\
	rm -f *.jar ; \
	VERSION=`fgrep "String VERSION" cds/aladin/Aladin.java | sed 's/.*"v\(.*\)".*/\1/'` ; \
	tar cf ../aladin_$$VERSION+dfsg.orig.tar . ; \
	cd .. ; \
	rm -rf AladinSrc ; \
	mv -f AladinSrc.jar AladinSrc-$$VERSION.jar ; \
	xz aladin_$$VERSION+dfsg.orig.tar )

get-orig-beta-source:
	wget http://aladin.unistra.fr/java/download/AladinBetaSrc.jar
	( mkdir AladinBetaSrc ; \
	cd AladinBetaSrc ; \
	unzip ../AladinBetaSrc.jar ;\
	rm -f *.jar ; \
	VERSION=`fgrep "String VERSION" cds/aladin/Aladin.java | sed 's/.*"v\(.*\)".*/\1/'` ; \
	tar cf ../aladin_$$VERSION+dfsg.orig.tar . ; \
	cd .. ; \
	rm -rf AladinBetaSrc ; \
	mv -f AladinBetaSrc.jar AladinBetaSrc-$$VERSION.jar ; \
	gzip aladin_$$VERSION+dfsg.orig.tar )
