#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java
export CLASSPATH=/usr/share/java/healpix.jar:/usr/share/java/cds-moc.jar:/usr/share/java/cds-savot.jar:/usr/share/java/jsamp.jar:/usr/share/java/kxml2.jar:/usr/share/java/xmlrpc-client.jar:/usr/share/java/xmlrpc-common.jar:/usr/share/java/xmlrpc-server.jar

%:
	dh $@ --with javahelper 

override_dh_auto_build:
	ant main
	ant javadoc
